body {
    background-color: rgb(210, 165, 74);
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    margin: auto;
    padding: 0%;
  }
  
  h1 {
    font-size: 48pt;
    font-style: oblique;
  }
  
  .App {
    text-align: center;
  }
  
  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
  }
  

  tr th{
    border: 3px solid rgba(0, 0, 0, 0.772);
    padding: 5px;
    color: rgb(216, 211, 211);
  }

  tr td {
    border: 3px solid rgba(0, 0, 0, 0.772);
    padding: 5px;
    color: rgb(49, 44, 44);
  }
  
  tr:nth-child(even){background-color: #6939036a;}
  
  tr:hover {background-color: #ddd;}
  
  th {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 8px;
    text-align: center;
    background-color: #3f524b;
    color: rgba(255, 255, 255, 0.929);
  }


  input {
    font-family: Arial, Helvetica, sans-serif;
  }

  button {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #edit_button {
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
    background-color: beige;
    border: 2px, beige;
  }

